.medicine_container {
	display: flex;
	width: 100%;
	margin: auto;
	margin-top: 3%;
	flex-wrap: wrap;
	justify-content: center;
}

@media all and (max-width: 975px) {

	.medicine_container {
		margin-top: 5%;
	}
}

@media (max-width: 600px) {

	.medicine_container {
		margin-top: 8%;
	}
}
